.hero {
    padding-top: 16px;
    padding-bottom: 16px;
}
@include media-breakpoint-up(lg) {
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.image-bg{
    background-image: url('/public/assets/images/homeBG.jpg');
    object-fit: cover;
}
.hero-image {
    max-height: 100%;
    max-width: 100%;
}

.promote-icon {
    width: 100px;
    height: 100px;
}

body{
    background: #fffefe;
}